<style>
  .footer {
    background-color: #333; /* Dark background */
    color: #fff; /* White text color */

    text-align: center;
  }

  .footer p {
    font-weight: bolder;
    font-size: 20px;
  }
</style>
<footer>
  <footer class="footer">
    <p>&copy; 2024 Wanderlust. All rights reserved.</p>
  </footer>
  <div class="container mt-3">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div
          class="f-socials d-flex justify-content-center justify-content-md-start"
        >
          <a href="https://github.com/Mohd-Mursaleen">
            <i class="fa-brands fa-github"></i>
          </a>
          <a href="https://www.linkedin.com/in/mohd-mursaleen-490a01283/">
            <i class="fa-brands fa-linkedin"></i>
          </a>
          <a href="https://www.instagram.com/geeky.md/">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="f-info-brand text-center text-md-end">
          &copy; Wanderlust
        </div>
        <div class="f-info-links text-center text-md-end mt-2 mt-md-0">
          <a href="/privacy">Privacy</a>
          <a href="/term">Term</a>
          <a href="/user">About me</a>
        </div>
      </div>
    </div>
  </div>
</footer>
