<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="f-socials">
          <a href="https://www.instagram.com/geeky.md/"
            ><i class="fa-brands fa-square-facebook"></i
          ></a>
          <a href="https://www.instagram.com/geeky.md/">
            <i class="fa-brands fa-linkedin"></i
          ></a>
          <a href="https://www.instagram.com/geeky.md/"
            ><i class="fa-brands fa-instagram"></i
          ></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="f-info-brand">&copy; Wanderlust</div>
        <div class="f-info-links">
          <a href="/privacy">Privacy</a>
          <a href="/term">Term</a>
        </div>
      </div>
    </div>
  </div>
</footer>
