<% layout("/layout/boilerplate.ejs") -%>

    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="alert alert-danger text-center" role="alert">
                    <h1 class="display-1"><%=statusCode%></h1>
                    <h4 class="display-4"><%=message%></h2>
                    <!-- <p class="lead">Oops! Something went wrong.</p> -->
                </div>
            </div>
        </div>
    </div>
